*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: black;
}

.myheader{
    width: 100%;
    position: fixed;
    background-color: black;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.mytitle {
    color: #fff;
    padding: 20px;
    font-family: "Satisfy", cursive;
    font-size: 35px;
    letter-spacing: 3px;
}

#contenedor {
    margin-top: 150px; 
  }

#replicado1 {
    height: 170px;
    width: 100%;
    background-color: rgb(19, 84, 67);
    color: white;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
}

.containerPic {
    height: 100px;
    width: 150px;
    margin: 20px;
    border:  solid 2px #fff;
    overflow: hidden;
}

.platoPic {
  width: 100%;
}

.info_plato {
    max-height: 150px;
    display: flex;
    flex-direction: column;   
}

.platoTit, .platoDescription, .platoPrecio {
    color: #fff;
    text-align: left;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
